/**
Color Palette
#0B3D91
#000000 
#d83933
#ffffff

**/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

html, body {
    height: 100%;
}

.title {
    font-family: "Public Sans", sans-serif;
}

.white {
    color: #ffffff;
}

.text {
    padding: 25px 0px;
}

h1 {
    font-size: 2.5rem;
}

.container {
    background-color: #000;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    height: 10%;
    padding-top: 3%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.navbar ul {
    display: flex;
}

.container .navbar {
    justify-content: space-between;
}

.navbar ul li {
    padding: 10px;
    margin: 0 10px;
}

.top-container {
    background-color: #000000;
    width: 100%;
    height: 15%;
    padding: 50px 20px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.top-container .intro {
    justify-content: space-between;
}

.invention-container-black {
    background-color: #000000;
    color: #ffffff;
}

.invention-container-black img {
    box-shadow: 10px 7px 7px rgb(255, 255, 255, 0.25);
    border-radius: 8px;
}

.invention-container-white {
    background-color: #ffffff;
    color: #000000;
}

.invention-container-white img {
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.invention-container-black, .invention-container-white {
    width: 100%;
    height: 500px;
    padding: 50px 20px;
    margin: auto;
}

.invention-text {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invention-title {
    margin-right: 50px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    height: 30%;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.footer-container div {
    padding: 5%;
}

.footer-copyright {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}
